* {
  box-sizing: border-box;
  font-family: var(--mainFont);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--veryDarkViolet)
}

:root {
  --darkViolet: hsl(256, 26%, 20%);
  --grayBlue: hsl(216, 30%, 68%);
  --veryDarkViolet: hsl(270, 9%, 17%);
  --darkGreyViolet: hsl(273, 4%, 51%);
  --veryLightGrey: hsl(0, 0%, 98%);
  --mainFont: 'Karla', sans-serif;
  --headingFont: 'DM Serif Display', serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.nav-container {
  display: inline-flex;
}

.hero-wrapper {
  background-color:  var(--darkViolet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.hero-text-elements {
  text-align: center;
  color: var(--veryLightGrey);
  padding: 90px 10px 140px 10px;
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: -3.5px;
  
}

.hero-text {
  font-size: .9rem;
  margin-block-start: 1rem;
  margin-block-end: 4rem;
  line-height: 2rem;
  padding: 0 10px;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: var(--headingFont);
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.link-button {
  text-align: center;
  color: var(--veryLightGrey);
  border: 2px solid var(--veryLightGrey);
  padding: 10px 20px;
  letter-spacing: .3rem;
}

.about-wrapper {
  position: relative;
  text-align: center;
  color: var(--veryDarkViolet);
  padding-top: 190px;
  padding-bottom: 70px;
}

.about-header {
  margin-bottom: 40px;
}

.about-header::before {
  content: '';
  width: 40%;
  border-bottom: 2px solid #d3d1d1;
  position: absolute;
  top: 165px;
  left: 30%;
  right: 30%;

}

.about-point {
  padding: 30px 0;
}

.about-point p {
  color: var(--darkGreyViolet);
  line-height: 1.60rem;
}

.more-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--darkViolet);
  color: var(--veryLightGrey);
  padding: 45px 8px 90px 8px;
  background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
  background-position: top right;
  background-repeat: no-repeat;
}

.more-info-header {
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 2.7rem;
}

h5 {
  color: #808080;
  margin-bottom: 2.15em;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin:0;
}

footer {
  background-color: #d3d2d2;
  text-align: center;
  padding: 20px 0;
  background-image: url('./images/bg-pattern-footer-mobile.svg');
  background-position: top left;
  background-repeat: no-repeat;
}

.social-icons-wrapper {
  position: relative;
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.social-icons-wrapper svg {
  margin: 0 10px;
}

.social-icons-wrapper::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #c2c1c1;
  width: 90%;
  left: auto;
  right: auto;
  top:  70px;
}

.footer-category-links {
  color: var(--darkViolet);
  font-weight: 700;
  font-size: .80rem;
}

.footer-category-links li {
  padding-bottom: 12px;
  letter-spacing: .06rem;
}

.background-texture {
  top: -155px;
  right: 0px;
  position: absolute;
  z-index: 2;
}

.footer-header {
  padding: 70px 0 60px 0;
}